		body{
			background: skyblue;
		}
		input{
			margin-top:1% ;
		}
		button{
			margin-top:1% ;	
			background: #08298A;
			color: white;
			border: none;
			border-radius: 5px;
			height: 50px;
			cursor: pointer;

		}
		#resultado{
			margin-top:1% ;	

		}
